# Ignore node_modules folder
/gepo-mcp/node_modules/
/gepo-api/node_modules/

# Ignore documentation files
/docs/*.aux
/docs/*.fdb_latexmk
/docs/*.log
/docs/*.out
/docs/*.synctex.gz
/docs/*.toc
/docs/*.pdf
/docs/*.fls
/docs/*.synctex(busy)